@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
.footer {
  width: 100%;
  height: 240px;
  background-color: #E59462;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  color: #2b2b2b;
}

/* Căn bố cục 3 phần: logo - liên kết - liên hệ */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 10vw 30px 10vw;
}

/* Logo và tên thương hiệu */
.footer-logo {
  margin-top: -5px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Cherry Bomb One', cursive;
  font-size: clamp(20px, 2.2vw, 28px);
  color: #2d2d2d;
  font-weight: 400;
  font-size: 30px;
  padding: 0px 8px;
  border-radius: 5px;
}

.footer-logo img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.footer-logo h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
  line-height: 1.4;
  color: #3b1b12;
  font-weight: bold;
  margin: 2;
}

/* Liên kết nhanh */
.footer-links h3,
.footer-contact h3 {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 12px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 
.footer-links a,
.footer-links a[data-rr-ui-link],
.footer-contact a {
  color: #2b2b2b;
  text-decoration: none;
}
.footer-links a:hover,
.footer-links a[data-rr-ui-link]:hover,
.footer-contact a:hover {
  text-decoration: underline;
}
.footer-links a.active,
.footer-links a[data-rr-ui-link].active {
  font-weight: bold;
  color: #1a1a1a;
}
.footer-links ul li,
.footer-contact ul li {
  margin-bottom: 8px;
}
/* Phần dòng bản quyền */
.footer-bottom {
  height: 40px;
  background-color: #C6714E;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;

}